
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strong</title>
</head>
<body>
    <div>
        @Html.ActionLink("Click for ","Html")
    </div>
    <div>
        @Html.ActionLink("Click for me ", "Index", "Employee")
        @Html.Password("My password")
    </div>
</body>
</html>
